.mac {
margin-top: 1em;
margin-left: 6em;
margin-right: 6em;
}

.mac img {
/* align-self: center; */
/* max-width: 500px; */
/* max-height: 650px; */
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;

}

.ipad {
margin-top: 3em;
margin-left: 5em;
margin-right: 5em;
}

.card {
    font-family: avenir next;
    font-size: 20px;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    color: #586e75;               /* solarized base01 */
    background-color: #fdf6e3;    /* solarized base3 */
}

#Answer {
    font-weight: bold;
    color: #268bd2;                /* solarized blue */
}

#T16_b00 {
   font-size: 16px;
   color: #657b83                 /* solarized base00 */
}

#T16_b1 {
   font-size: 16px;
   color: #93a1a1                 /* solarized base1 */
}

#T14_b1 {
   font-size: 14px;
   color: #93a1a1                 /* solarized base1 */
}

#T14_c {
   font-size: 14px;
   color: #2aa198                 /* solarized cyan */
}

#T12_r {
   font-size: 12px;
   color: #dc322f                 /* solarized red */              
}


ul, ol {
    text-align:left; 
/*     display: inline-block;*/	         /*-- disabled!--*/
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
